/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

#define DEFAULT 0
#define COLEMAK 1
#define LOWER   2
#define RAISE   3
#define MISC    4

&mt { flavor = "balanced"; };

/ {
    combos {
        compatible = "zmk,combos";

        enter {
            bindings = <&kp ENTER>;
            key-positions = <31 32>;
            layers = <0 1>;
            timeout-ms = <30>;
        };

        spacebar {
            bindings = <&kp SPACE>;
            key-positions = <19 20>;
            timeout-ms = <30>;
        };

        toggle_colemak {
            bindings = <&tog 1>;
            key-positions = <27 28>;
            timeout-ms = <30>;
            layers = <0 1>;
        };

        tab {
            bindings = <&kp TAB>;
            key-positions = <1 2>;
        };

        esc {
            bindings = <&kp ESCAPE>;
            key-positions = <18 19>;
        };
    };

    behaviors {
        td_shift_gui: td_shift_gui {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_SHIFT_GUI";
            #binding-cells = <0>;
            bindings = <&kp RIGHT_SHIFT>, <&kp RIGHT_GUI>;
        };

        td_tap_esc: td_tap_esc {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_TAP_ESC";
            #binding-cells = <0>;
            bindings = <&lt 3 ESCAPE>, <&kp TAB>;

            tapping-term-ms = <150>;
        };

        td_esc_caps: td_esc_caps {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_ESC_CAPS";
            #binding-cells = <0>;
            tapping-term-ms = <150>;
            bindings = <&mt LEFT_ALT ESCAPE>, <&kp CAPSLOCK>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&none            &kp Q           &kp W           &kp E             &kp R               &kp T        &kp Y                  &kp U                &kp I              &kp O           &kp P                    &none
&mt TILDE GRAVE  &mt LEFT_GUI A  &mt LEFT_ALT S  &mt LEFT_SHIFT D  &mt LEFT_CONTROL F  &kp G        &kp H                  &mt RIGHT_CONTROL J  &mt RIGHT_SHIFT K  &mt LEFT_ALT L  &mt RIGHT_GUI SEMICOLON  &mt PLUS EQUAL
&none            &kp Z           &kp X           &kp C             &kp V               &kp B        &kp N                  &kp M                &kp COMMA          &kp DOT         &kp FSLH                 &none
                                                 &kp TAB           &lt 4 ESCAPE        &kp SPACE    &mt RIGHT_SHIFT ENTER  &lt 3 SINGLE_QUOTE   &kp BACKSPACE
            >;
        };

        colemak_layer {
            bindings = <
&trans  &kp Q           &kp W           &kp F             &kp P               &kp G     &kp J   &kp L                &kp U              &kp Y            &kp SEMI         &trans
&trans  &mt LEFT_GUI A  &mt LEFT_ALT R  &mt S LEFT_SHIFT  &mt LEFT_CONTROL T  &kp D     &kp H   &mt RIGHT_CONTROL N  &mt RIGHT_SHIFT E  &mt RIGHT_ALT I  &mt RIGHT_GUI O  &trans
&trans  &kp Z           &kp X           &kp C             &kp V               &kp B     &kp K   &kp M                &trans             &trans           &trans           &trans
                                        &trans            &trans              &trans    &trans  &trans               &trans
            >;
        };

        lower_layer {
            bindings = <
&trans                     &kp EXCL                &kp AT                 &kp HASH                 &kp DLLR                   &kp PRCNT            &kp CARET       &kp AMPS              &kp ASTRK           &kp LPAR          &kp RPAR          &trans
&mt PIPE NON_US_BACKSLASH  &mt RIGHT_GUI NUMBER_1  &mt LEFT_ALT NUMBER_2  &mt LEFT_SHIFT NUMBER_3  &mt LEFT_CONTROL NUMBER_4  &kp N5               &kp N6          &mt RIGHT_CONTROL N7  &mt RIGHT_SHIFT N8  &mt RIGHT_ALT N9  &mt RIGHT_GUI N0  &mt UNDERSCORE MINUS
&trans                     &none                   &none                  &none                    &kp LEFT_BRACKET           &kp RIGHT_BRACKET    &kp LEFT_BRACE  &kp RIGHT_BRACE       &trans              &trans            &trans            &trans
                                                                          &trans                   &trans                     &trans               &trans          &trans                &trans
            >;

            label = "SYM_NUM";
        };

        raise_layer {
            bindings = <
&trans              &kp F1           &kp F2           &kp F3             &kp F4               &kp F5             &kp HOME   &kp PAGE_DOWN  &kp PAGE_UP   &kp END    &kp INSERT  &trans
&kp LG(LA(DOLLAR))  &mt LEFT_GUI F6  &mt LEFT_ALT F7  &mt LEFT_SHIFT F8  &mt LEFT_CONTROL F9  &kp F10            &kp LEFT   &kp DOWN       &kp UP_ARROW  &kp RIGHT  &kp DELETE  &kp RG(DOLLAR)
&trans              &kp F11          &kp F12          &kp GLOBE          &kp CAPSLOCK         &kp PRINTSCREEN    &kp RCTRL  &kp RSHIFT     &kp RALT      &kp RGUI   &trans      &trans
                                                      &trans             &mkp LCLK            &mkp RCLK          &trans     &trans         &trans
            >;

            label = "FN_NAVI";
        };

        misc_layer {
            bindings = <
&none       &bt BT_SEL 0       &bt BT_SEL 1   &bt BT_SEL 2       &bt BT_SEL 3  &bt BT_SEL 4    &none            &none            &none            &none            &none            &none
&bt BT_CLR  &kp C_VOL_UP       &kp C_BRI_INC  &soft_off          &out OUT_TOG  &sys_reset      &rgb_ug RGB_SPI  &rgb_ug RGB_SAI  &rgb_ug RGB_HUI  &rgb_ug RGB_BRI  &rgb_ug RGB_EFF  &none
&none       &kp C_VOLUME_DOWN  &kp C_BRI_DEC  &ext_power EP_TOG  &none         &bootloader     &rgb_ug RGB_SPD  &rgb_ug RGB_SAD  &rgb_ug RGB_HUD  &rgb_ug RGB_BRD  &rgb_ug RGB_TOG  &none
                                              &none              &none         &none           &none            &none            &none
            >;

            label = "MISC";
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        Misc {
            if-layers = <3 4>;
            then-layer = <4>;
        };
    };
};
